/*styling the backround to be black*/

html {
    background-color: black;
}

/*styling logo part*/

.logo_text {
    color: #fbe47c;
}

.logo_area {
    margin-left: 150px;
}

/*styling the image to be fixed*/

.backround-container {
    background-image: url('images/coding_image.webp');
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/*styling the page to be white*/

.page {
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 600px;   
    padding-bottom: 100px;
}

/*styling the h2*/

.text {
    text-align: center;
    margin-top: 250px;
    color: #fbe47c;
}

/*styling the next h2*/

.next_text {
    text-align: center;
    color: #fbe47c;
}

/*styling the form container*/

form {
    background-color: black;
}

/*styling the fieldsets*/
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 220px;
}

fieldset {
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

/* Styling each label and input */

.labels, .inputs {
    width: 100%;
    text-align: center;
    margin: 10px; 
}

.label-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px; 
}

.labels {
    color: #fbe47c;
}

input {
    margin-top: 5px;
    padding: 10px;
    box-sizing: border-box;
}


/*styling submit button*/

.submit-btn {
    text-align: center;
    padding: 20px;
    color: #fbe47c;
    background-color: black;
    cursor: pointer;
}

/*styling the last text*/

.last_text {
    display: flex;
    margin-top: 10px;
    color: #fbe47c;
}

.login_text {
    margin-left: 5px;
    color: blue;
}

/*styling the position of button and text*/

.submit {
    margin-top: 50px;
    margin-left: 80px;
}