/*styling the backround to be black*/

html {
    background-color: black;
}

/*styling logo part*/

.logo_text {
    color: #fbe47c;
}

.logo_area {
    margin-left: 150px;
}

/*styling the image to be fixed*/

.backround-container {
    background-image: url('images/coding_image.webp');
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/*styling the page to be white*/

.page {
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 600px;   
    padding-bottom: 100px;
}

/*styling the h2*/

.text {
    text-align: center;
    margin-top: 250px;
    margin-right: 500px;
}

/*styling the next h2*/

.next_text {
    text-align: center;
    margin-right: 500px;
}

/*styling the form container*/

form {
    background-color: #E1D9D1;
}

/*styling the fieldsets*/

fieldset {
    border: none;
    padding-bottom: 166px;
    display: flex;
}

/*styling each input and label*/

.labels {
    margin-left: 250px;
    color: #fbe47c;
}

.inputs {
    display: flex;
    justify-content: flex-start;
}

/*styling the input boxes.*/

.labels label, .inputs input {
    margin-bottom: 10px;
}

input {
    margin-top: 25px;
}

/*styling submit button*/

.submit-btn {
    text-align: center;
    padding: 20px;
    color: #fbe47c;
    background-color: black;
}

/*styling the last text*/

.last_text {
    display: flex;
    margin-top: 10px;
}

.login_text {
    margin-left: 5px;
    color: #fbe47c;
}

/*styling the position of button and text*/

.submit {
    margin-left: 600px;
}